@supports selector(::-webkit-scrollbar) {
	html {
		scrollbar-color: unset;
	}
}

body {
	padding: 0 0px;
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);
	font-family: var(--vscode-editor-font-family);
	background-color: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	overflow: auto;
	white-space: nowrap;
}

.text-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 1em;
	right: 6px;
	text-rendering: optimizeSpeed;
	line-height: 1.35em;
}

div.text-container {
	min-width: max-content;
}

.comment {
	color: #009200;
}

.numbered::before {
	content: attr(data-ln);
}

div::before {
	content: var(--nettools-before);
	text-align: right;
	display: inline-block;
	margin-right: 1em;
	color: var(--vscode-editorLineNumber-foreground);
}


div.text-container > div.highlight {
	background: var(--vscode-editor-findMatchHighlightBackground);
}

div.text-container > div:hover {
	border: var(--vscode-dropdown-border);
	background: var(--vscode-editor-hoverHighlightBackground);
}

div.text-container > div.active {
	background: var(--vscode-list-activeSelectionBackground);
	color: var(--vscode-list-activeSelectionForeground);
  	outline: 1px solid var(--vscode-list-focusAndSelectionOutline, var(--vscode-contrastActiveBorder, var(--vscode-list-focusOutline)));
	outline-offset: -1px;
}


.minimap-container { 
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 6px;
	background: var(--vscode-editor-background);
	z-index: 9999;
}

.minimap { 
	position: fixed;
	top: 0px;
	right: 0px;
	width: 5px;
	bottom: 0px;
	overflow: hidden;
	border: none;
}

